# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Hello Python Programming!",50,9.8,True)

Hello Python Programming! 50 9.8 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
# type your code here
print("Hello!", 20, 5.5,False, sep="-")

Hello!-20-5.5-False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
# type your code here
print("Hello Python!", end=' ')
print(20, end=' ')
print(5.5, end=' ')
print(True)

Hello Python! 20 5.5 True

4) Can a python print function take no value to print???

In [8]:
# type your answer here
print( )
#It will run but it will not print anything.

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [10]:
#type your code here
Friends_Name = "Mr. Ahmed"
Age = 30
Profession = "Lawyer"
Qualification = "Bachelors in law"
Year_of_Graduation = 2005
Firm_Name = "The Himalaya Associates"
Firm_City = "Karachi"
Joining_Year = 2015
Height_in_feets = 5.10
Weight_in_grams = 70600
Monthly_Income_pkr = 200000

6) How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [12]:
#type your code here 
Current_Year = 2022
Year_Gap = Current_Year - Year_of_Graduation
print(Year_Gap)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [14]:
#type your code here 
Current_Year = 2022
print(Current_Year - Joining_Year)

7

8) Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [18]:
#type your code here 
Monthly_Income_In_Dollars = Monthly_Income_pkr/210
print("Income in Dollars:",Monthly_Income_In_Dollars)

Income in Dollars: 952.3809523809524

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [19]:
#type your code here
print(type(Monthly_Income_In_Dollars))

<class 'float'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [23]:
#type your code here 
print(type(Weight_in_grams))
Weight_In_Kg = Weight_in_grams//1000    
print(Weight_In_Kg)

<class 'int'>
70

11) print the year of birth of Mr. Ahmed.

In [31]:
#type your code here 
Year_of_Birth = Current_Year - Age
print(Year_of_Birth)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [32]:
#type your code here 
print(100%6==0)

False